@import "tailwindcss";

:root {
  /* Base */
  --background: #ffffff;
  --foreground: #1f2937; /* gray-800, softer than slate-700 */

  /* Semantic Colors */
  --primary: #599692;
  --primary-foreground: #ffffff;

  --secondary: #ffffff; /* keep cards pure white */
  --secondary-foreground: #e4ecffe1; /* gray-900 */

  --muted: #6b7280; /* gray-500 for secondary text */
  --muted-foreground: #9ca3af; /* gray-400 */

  --border: #e5e7eb; /* gray-200, very subtle */
}


.dark {
  /* Base */
  --background: #0a0a0a;
  --foreground: #ededed;

  /* Semantic Colors */
  --primary: #599692;
  --primary-foreground: #ffffff;

  --secondary: #18181b;
  /* zinc-900 */
  --secondary-foreground: #fafafa;
  /* zinc-50 */

  --muted: #a1a1aa;
  /* zinc-400 */
  --muted-foreground: #52525b;
  /* zinc-600 */

  --border: #27272a;
  /* zinc-800 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  border-color: var(--border);
}